@{
    ViewBag.Title = "Home Page";
    Layout = null;
}


<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200" >
    <link rel="stylesheet" href="~/Content/homepage.css">
</head>

    
<body style="background-color:black;">

    <!--<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>-->

    <div class="navbar">
        <input type="button" class ="button" value="Login">
        <input type="text" name="name"><label>Password:</label>
        <input type="text" name="name"><label>UserName:</label>
    </div>



    <div class="indexcover">
        <div class="indexcover-text">
            <h1>Welcome to FangKe</h1>
        </div>
        
        <div class="searchbar">
            <input type="submit" value="submit" />
            <input type="search" />
            
        </div>
        
    </div>
  
    <div class="footnoteinfo">
        <h2><a href="https://github.com/AndrewJJT/FangKe">About</a></h2>  
        <p>You can find out more about this webpage at Github.</p>
    </div>
    <div class="footnoteinfo">
        <h2><a href="https://www.linkedin.com/in/andrewjjtan">Contact</a></h2>
        <p>Please check out my information on my LinkedIn account.</p>
        
    </div>        
    
</body>